<!-- In templates/core/about.html -->

{% extends 'core/base.html' %}
{% load static %}

{% block title %}Sugar & Spice - About Us{% endblock title %}

{% block content %}
<main>
    <section class="content-page-section">
        <div class="content-image">
            <img src="{% static 'images/CHOCOLATE VANILA.png' %}" alt="Cupcake with a pink heart">
        </div>
        <div class="content-text">
            <h2>OUR STORY</h2>
            <p>
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I'm a great place for you to tell a story and let your users know a little more about you.
            </p>
            <p>
                This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.
            </p>
        </div>
    </section>
    <div class="star-divider">
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-of-life center-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
    </div>
</main>
{% endblock content %}