{% extends 'core/base.html' %}
{% load static %}

{% block title %}{% if base_config %}{{ base_config.title }}{% endif %} - Menu{% endblock title %}

{% block content %}
<main class="menu-page">
   <section class="menu-section">
       {% if menu_config %}
       <h3 class="menu-category-title">{{ menu_config.title }}</h3>
       <h2 class="menu-flavors-title">{{ menu_config.subtitle }}</h2>
       {% endif %}
      
       <div class="menu-grid">
           {% for item in menu_items %}
           <div class="menu-item">
               {% if item.image %}
                   <img src="{{ item.image.url }}" alt="{{ item.name }}">
               {% endif %}
               <h4>{{ item.name }}</h4>
               <p class="description">{{ item.description }}</p>
               <p class="price">${{ item.price }}</p>
           </div>
           {% empty %}
            <p>No menu items have been added yet.</p>
           {% endfor %}
       </div>
   </section>
  
   <div class="star-divider"><!-- ... stars ... --></div>
</main>
{% endblock content %}