{% extends 'core/base.html' %}
{% load static %}

{% block title %}{% if site_config %}{{ site_config.logo_title }}{% endif %} - Workshops{% endblock title %}

{% block content %}
<main>
   <div class="workshops-page-content">
       {% if site_config %}
       <h2 class="page-title">{{ site_config.workshop_title }}</h2>
       {% endif %}
      
       <div class="workshop-list">
           {% for workshop in workshops %}
           <div class="workshop-item">
               <div class="workshop-image">
                   {% if workshop.image %}
                        <img src="{{ workshop.image.url }}" alt="{{ workshop.name }}">
                   {% endif %}
               </div>
               <div class="workshop-details">
                   <h3>{{ workshop.name }}</h3>
                   <p>{{ workshop.duration }}</p>
                   <p>${{ workshop.cost }}</p>
                   <a href="{% url 'booking-calendar' %}" class="workshop-btn book-now-link" 
                      data-name="{{ workshop.name }}" 
                      data-duration="{{ workshop.duration }}" 
                      data-price="${{ workshop.cost }}">
                      BOOK A WORKSHOP
                   </a>
               </div>
           </div>
           {% empty %}
           <p style="text-align: center; padding: 20px;">No workshops are currently available.</p>
           {% endfor %}
       </div>
       <div class="star-divider"><!-- stars --></div>
   </div>
</main>
{% endblock content %}